/*SEPARACIÓN <body> DE <footer>*/

body {
    background-color: rgba(97, 99, 99, 0.144);
    padding-bottom: 400px;
    position: relative;
    min-height: 100vh;
}

.body-nosotros {
    padding-bottom: 350px;
}