/* SEPARACIÓN DE PRIMEROS ELEMENTOS DE <nav> */

    /* INICIO */
    .img-principal {
        padding-top: 100px;
        width: 100%;
    }

/* NOSOTROS */
    .sobre-nosotros {
        padding-top: 100px;
    }

/* SOPORTE */
    .zona-form {
        padding-top: 100px;
    }

/* GALERIA */
    .section-galeria {
        padding-top: 150px;
    }

/*-----------------------------------------*/