* {
    margin: 0;
    list-style: none;
    color: rgb(0, 0, 0);
    font-family: 'Arial Narrow';
    text-decoration: none;
}


/*HEADER*/

    /* BARRA <nav> */

        header {
            background-color: rgb(236, 191, 176);
            position: fixed;
            height: 100px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            z-index: 100;
            padding-bottom: 0px;
            box-shadow: 0 5px 20px rgb(236, 191, 176);
        }

        header nav ul li {
            font-size: 20px;
            margin-left: 10px;
        }

        header nav ul li a {
            color: aliceblue;
            transition: 0.5s;
        }


        header nav ul li a:hover {
            background-color: #ff7f50;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.185);
            text-decoration: underline 2px;
            transition: 0.5s;

        }

        .navbar-brand {
            font-size: 60px;
        }

        .navbar .container-fluid {
            flex-wrap: nowrap;
        }

        header nav ul li a:focus {
            color: brown;
        }

    /*--------------------------------------*/

/* ------------------------------------------------------------------------------------ */

/* SEPARACIÓN DE PRIMEROS ELEMENTOS DE <nav> */

    /* INICIO */
        .div-portada .panadería-foto {
            width: 100%;
        }

    /* PRODUCTOS */
    .sect-productos {
        padding-top: 100px;
    }

    /* NOSOTROS */
        .sobre-nosotros article .familia-panadera {
            margin-top: 100px;
            width: 500px;
        }

    /* SOPORTE */
        .zona-form {
            padding-top: 100px;
        }

    /* GALERIA */
        .main-de-galeria {
            padding-top: 150px;
        }

/*-----------------------------------------*/






/* GRILLAS (BOOTSTAPS!!!) */

    /* GALERÍA */

        .padre-cont-galeria {
            margin: 0 auto;
            background-color: coral;
            border-radius: 10px;
            width: 1000px;
            height: 800px;
            overflow: scroll;
        }
        
        .padre-cont-galeria div div img {
            padding: 10px 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        
        .columna-2 {
            width: 55%;
            margin: 0 auto;
        }
        
        .columna-6 {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        
        .imag-0 {
            border-radius: 100%;
        }
    /* ------------------------------------------- */

/*---------------------------------------*/


/* CARDS */



    /* soporte */
        .card-content {
            width: 500px;
            height: 200px;
            padding-top: 100px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

        }


        .card-content .card-style {
            border: 2px solid red;
            width: 50px;
            height: 50px;
        }
    /* ------------------------------ */
/* ----------------------------------------- */






/* AJUSTES GENERALES DE IMÁGENES / TEXT */

    /* INICIO */

        .cuadro-de-text {
            font-size: 24px;
        }

        .parrafo {
            font-size: 20px;
        }

        .imagenes .logo {
            width: 227px;
            height: 227px;
            /*margin-left: 50px;*/
        }

        .sección-imag-y-text .imag-1 img {
            object-fit: cover;
        }

    /*--------------------------------*/

    /* GALERÍA */

    /*--------------------------------------*/

    /* SOPORTE */

        .zona-form {
            background-color: rgb(236, 191, 176);
            border-radius: 30px;
            width: 500px;
            height: 500px;
            margin: 0 auto 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
        }

        .zona-form .formulario {
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            margin: 10px auto;
            padding: 10px;
        }
    
    /*--------------------------------------*/


/*---------------------------------*/



/* FLEX */


    /* INICIO */

        .sección-imag-y-text {
            /*border: 2px solid blue;*/
            padding: 20px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin: 10px auto 10px;
        }

        .sección-imag-y-text .cont-portada-img {
            background-color: #e8503cb7;
            width: 100%;
            display: flex;
            flex-direction: row;
            border-radius: 10px;
        }

        .sección-imag-y-text .cont-portada-img .padre-cont-img {
            display: flex;
            flex-direction: row;
            align-items: center;
            /*border: 2px solid red;*/
            margin: 0 30px 0 30px;
        }

        .sección-imag-y-text .logo {
            border-radius: 100%;
        }

        .sección-imag-y-text .cont-portada-img .portada-quienes-somos .cuadro-de-text {
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }

        .sección-imag-y-text .imag-1 {
            /*border: 2px solid green;*/
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .sección-imag-y-text .imag-1 img {
            width: 100%;
            height: 80%;
        }

    /*-----------------------------------*/


/*------------------------*/


/* SEPARACIÓN BODY DE FOOTER */

body {
    background-color: rgba(97, 99, 99, 0.521);
    padding-bottom: 400px;
    position: relative;
    min-height: 100vh;
    /*border: 2px solid red;*/
}

/*----------------------------*/

/* FOOTER */

footer {
    background-color: rgb(236, 191, 176);
    min-width: 100%;
    height: 350px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
}

footer div ul li {
    margin-left: 2%;
    display: inline-block;
}

footer div ul li img {
    width: 100px;
    height: 100px;
}

footer div ul li, .text-redes-sociales {
    width: 400px;
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 48px;
}

/* ---------------------------------------------------- */







/* @media */

    /*inicio*/


    /* ADAPTADO PARA A PARTIR DE ESTA RESULUCIÓN!!! */

        @media (max-width: 380px) {

            /* GENERAL */

                header {
                    justify-content: center;
                    flex-wrap: wrap;
                    height: 180px;
                    width: 100%;
                }

                .navbar {
                    padding-top: 0;
                }

                .container-fluid {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                }

                .container-fluid .cont-button_links {
                    display: flex;
                    flex-direction: column;
                }

                .cont-link-pags ul {
                    flex-direction: row;
                    width: 300px;
                }

                .cont-link-pags ul li {
                    width: 100%;
                    font-size: 15px;
                }

                body {
                    padding-bottom: 500px;
                }

                /* adaptación <footer> a resolución*/
                footer {
                    height: 450px;
                    width: 100%;
                    flex-direction: column;
                }

                iframe {
                    margin-top: 10px;
                    height: 50%;
                    width: 80%;
                }

                .cont-logos-redes {
                    width: 80%;
                }


                /* evita que las listas del <footer> rompan con el ancho de la resolución*/
                footer div ul li {
                    width: 100%;
                }

                footer div ul li .text-redes-sociales {
                    /*width: 400px;*/
                    /*border: 2px solid red;*/
                    font-size: 28px;
                }

                footer div ul li img {
                    width: 25%;
                    padding-right: 10px;
                }

            /* INICIO */

                .portada {
                    padding-top: 180px;
                }

                .cont-portada-img {
                    flex-wrap: wrap;
                    margin-right: 0px;
                }

                
                /**/
                .sección-imag-y-text {
                    flex-wrap: wrap;
                }

                .sección-imag-y-text .cont-portada-img {
                    justify-content: center;
                    padding-bottom: 30px;
                }

                .portada-quienes-somos div p {
                    font-size: 12px;
                }
            
            /* --------------------- */


            /* GALERIA*/


                .container-sm {
                    width: 80%;
                    justify-content: center;
                    padding-bottom: 10px;
                }


                /* separa la galería del <header>*/
                .padre-cont-galeria {
                    margin-top: 100px;
                }



            /* -------------------- */

        }


    /*-------------------------------------*/



/* ---------------------------------------*/