

/*Textos principales de las Cards*/
.text-inicial-product {
    padding-top: 150px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255);
    
    span {
        font-weight: bolder;
        color: coral;
    }
}


.sect-product {
    .text-principal-sect {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        div {
            h2 {
                font-size: 50px;
                font-weight: bolder;
                color: white;
            }
        }
            
        }
    
    .product-cont {
        .card-cont {
            margin-bottom: 60px;

            h3 {
                font-size: 40px;
                font-weight: lighter;
                color: white;
                text-align: center;
            }
        }
    }


    /*texto de los productos*/

    .text-product {
        padding-top: 10px;
        font-size: 25px;
        color: rgb(0, 0, 0);
        text-align: center;
        line-height: 25px;
    }
}