.imag-0 {
    transition: .5s;
}

.imag-0:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.03);
    transition: .5s;
}

.imag-1{
    transition: .5s;
}

.imag-1:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.03);
    transition: .5s;
}